rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /journals/{journalId} {
      allow read, write: if true;
      match /cursors/{userId} {
        allow read, write: if true;
      }
    }
  }
}
